{% fragment %}
    <div id="searchResults">
        <h2 class="text-lg font-bold">Search results</h2>
        <ul class="list-inside list-disc mt-1">
            <li>Sample result for a search of <span class="font-bold">"{{ signals.phrase ?? '' }}"</span> in Craft CMS</li>
        </ul>
    </div>
{% endfragment %}

{% fragment %}
    <div id="debugger" class="p-5 bg-yellow-300">
        {% if signals.phrase|length %}
        Update URL query parameter to: <span
                class="font-mono font-bold bg-gray-50 px-1 inline-block text-sm rounded-sm">phrase={{ signals.phrase| url_encode|replace({'%20': '+'}) }} </span>
        {% else %}
        Remove the query parameter  <span
                class="font-mono font-bold bg-gray-50 px-1 inline-block text-sm rounded-sm">phrase</span> from the URL
        {% endif %}
    </div>
{% endfragment %}

{% executescript %}
    const searchPhrase = "{{ signals.phrase ?? '' }}";
    const url = new URL(window.location.href);

    if (searchPhrase.trim() !== '') {
    url.searchParams.set('phrase', searchPhrase.trim());
    } else {
    // Remove the query parameter if the search phrase is empty
    url.searchParams.delete('phrase');
    }

    // Update the URL without triggering a page reload
    window.history.pushState({}, '', url);

    // Update the title of the page
    document.title = `Search: ${searchPhrase}`;
{% endexecutescript %}
