<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search</title>
    <style>
        .bg-red-400 {
            background-color: rgb(248 113 113) /* #f87171 */;
        }

        .bg-yellow {
            background-color: yellow;
        }

        .whitespace-pre-line {
            white-space: pre-line;
        }
    </style>
</head>
<body>
<div>
    <h1>Datastar Test - v1: Basic search</h1>
    <div id="container" data-signals="{{ { phrase: '', counter: 42 }|json_encode }}">
        <div id="wrapper">
            <div>
                <div>
                    <label for="phrase">Enter a phrase</label>
                    <input type="text"
                           name="phrase"
                           id="phrase"
                           placeholder="What are you looking for?"
                           data-bind-phrase
                           data-on-input__debounce.200ms="{{ datastar.get('_datastar/search-results-v1.twig') }}"
                    >
                    <h2>data-json-signals:</h2>
                    <pre class="whitespace-pre-line bg-yellow" data-json-signals></pre>
                </div>

                <h2>Debugger</h2>
                <pre id="debugger" class="whitespace-pre-line bg-yellow">
                    debugging info will appear here from _datastar/search-results-v1.twig
                </pre>

                <div id="searchResults">
                    <h2>Search results</h2>
                    <ul>
                        <li>results from _datastar/search-results-v1.twig will appear here</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        console.log('DOM fully loaded and parsed in search v1');
      });
    </script>
</div>
</body>
</html>
