<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search</title>
    <style>
        .bg-red-400 {
            background-color: rgb(248 113 113) /* #f87171 */;
        }

        .bg-yellow-400 {
            background-color: rgb(250 204 21) /* #facc15 */;
        }

        .whitespace-pre-line {
            white-space: pre-line;
        }
    </style>
</head>
<body>
<div>
    <h1>Datastar Test - v1: Basic search</h1>
    <div id="container" data-signals="{ phrase: '', counter: 42 }">
        <div id="wrapper">
            <div>
                <div>
                    <label for="phrase">Enter a phrase</label>
                    <input type="text"
                           name="phrase"
                           id="phrase"
                           placeholder="What are you looking for?"
                           data-bind-phrase
                           data-on-input="{{ datastar.get('_datastar/search-v1.twig') }}"
                           {# data-on-input__debounce.200ms="{{ datastar.get('_datastar/search-v1.twig') }}" #}
                    >
                    <pre>ctx.signals:</pre>
                    <pre style="background-color: yellow" data-text="ctx.signals.JSON()"></pre>
                </div>

                <pre id="debugger" class="whitespace-pre-line bg-yellow-400">
                    debugging info will appear here from _datastar/search-v1.twig
                </pre>

                <div id="searchResults">
                    <h2>Search results</h2>
                    <ul>
                        <li>results from _datastar/search-v1.twig will appear here</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        console.log('DOM fully loaded and parsed');
      });
    </script>
</div>
</body>
</html>
