<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search</title>
    <style>
        .bg-red-400 {
            background-color: rgb(248 113 113) /* #f87171 */;
        }

        .bg-yellow {
            background-color: yellow;
        }

        .whitespace-pre-line {
            white-space: pre-line;
        }
    </style>
</head>
<body>
<div>
    <h1>Datastar Test - v4: Showing actual results</h1>

    {# Set the initial value of 'phrase' to the query parameter in the URL on page load. #}
    {% set phrase = craft.app.request.getQueryParam('phrase') ?? '' %}
    <div id="container"
         data-signals="{phrase: '{{ phrase }}', searchCounter: 0, browserHistoryCounter: 0, lastPhrase: '' }"
         data-on-historychange="$phrase=evt.detail.phrase; $browserHistoryCounter++;">
        <div>
            <label for="phrase">Enter a phrase</label>
            <input type="text"
                   name="phrase"
                   id="phrase"
                   placeholder="What are you looking for?"
                   data-bind-phrase
                   data-on-input__debounce.200ms="($phrase.trim() !== $lastPhrase.trim()) && {{ datastar.get('_datastar/search-results-v4.twig', { updateHistory: true }) }} && $searchCounter++, $lastPhrase = $phrase.trim();"
                   data-on-load="$phrase.length >= 1 && {{ datastar.get('_datastar/search-results-v4.twig') }} ; $lastPhrase = $phrase.trim();"
                   data-on-historychange__debounce.200ms="{{ datastar.get('_datastar/search-results-v4.twig', { updateHistory: false }) }}"
            >
            <p>You've used the search <span data-text="$searchCounter"></span> time<span
                        data-show="$searchCounter !== 1">s</span>.</p>
            <h2>ctx.signals:</h2>
            <pre class="whitespace-pre-line bg-yellow" data-text="ctx.signals.JSON()"></pre>
        </div>

        <h2>Debugger</h2>
        <pre id="debugger" class="whitespace-pre-line bg-yellow">
                        debugging info will appear here from _datastar/search-results-v4.twig
            </pre>

        <div id="searchResults">
            <h2>Search results</h2>
            <ul>
                <li>results from _datastar/search-results-v4.twig will appear here</li>
            </ul>
        </div>
    </div>

    <script>
      const container = document.getElementById('container');
      document.addEventListener('DOMContentLoaded', () => {
        const searchPhrase = document.querySelector('[data-bind-phrase]');
        // set focus on the search input
        searchPhrase.focus();
        searchPhrase.addEventListener('input', (e) => {
          console.log('searchPhrase', e.target.value);
        });

        window.addEventListener('popstate', (event) => {
          // When the browser navigates back or forward,
          // the current URL already reflects the desired state.
          const currentUrl = new URL(window.location.href);
          const searchPhraseValue = currentUrl.searchParams.get('phrase') || '';
          // Update the input field value, which is bound to the Datastar signal
          searchPhrase.value = searchPhraseValue;

          // a new custom event that we can listen for
          const historyChangeEvent = new CustomEvent('historychange', {
              detail: { phrase: searchPhrase.value }
          });

          // Dispatch the custom event on the search input, which will bubble up to the container
          searchPhrase.dispatchEvent(historyChangeEvent);
        });

        // Listen for the history change event
        container.addEventListener('historychange', (e) => {
          console.log('historychange event heard', e), false;
          // set focus on the search input
          searchPhrase.focus();
        });
      });
    </script>
</div>
</body>
</html>
